<div class="portfolio">
  <div class="intro">
    <h2 style="color: white; margin: 0">Justin Miller</h2>
    <h1>Doing something cool and stuff</h1>
    <ul class="categories">
      <li>
        <h3>
          <a class="hover-effect" routerLink="/">Web Developer Portfolio</a>
        </h3>
      </li>
      <li>
        <h3>
          <a class="hover-effect">Resume</a>
        </h3>
      </li>
      <li>
        <h3>
          <a class="hover-effect" href="https://github.com/adventeurs"
            >Github</a
          >
        </h3>
      </li>
      <li>
        <h3>
          <a class="hover-effect" routerLink="/contact">Contact</a>
        </h3>
      </li>
    </ul>
  </div>
  <div class="display">
    <router-outlet></router-outlet>
  </div>
</div>
